doctype 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootswatch.css')
    link(rel='stylesheet', href='/css/bootstrap-spinedit.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    
  body
    
    div.navbar
      div.navbar-inner
        a.brand(href='/') Pf Combat
        
        ul.nav
          li 
            a(href='/users') User Listing
          li
            a(href='/tabletop') Tabletop
    
    block content
    
    script(src="/js/jquery-2.0.3.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/bootstrap-spinedit.js")
    
    block script