doctype 5
html(ng-app='pfcombat')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootswatch.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    //script(src='/js/lib/underscore/1.5.2/underscore.min.js')
    script(src='/js/lib/angular/1.2.6/angular.min.js')
    script(src='/js/lib/firebase/firebase.js')
    script(src='/js/lib/firebase/angularfire.min.js')  
    script(src='/js/lib/underscore/underscore-1.5.2.min.js')

  body
    
    div.navbar
      div.navbar-inner
        a.brand(href='/') Pf Combat
        
        ul.nav
          li 
            a(href='/users') User Listing
          li
            a(href='/tabletop') Tabletop
    
    block content
    
    script(src="/js/lib/jquery/jquery-2.0.3.min.js")
    script(src="/js/lib/bootstrap/bootstrap.min.js")
    
    block script